# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure SFTPGo paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ sftpgo_uid }}"
    group: "{{ sftpgo_gid }}"
  with_items:
    - "{{ sftpgo_base_path }}"
    - "{{ sftpgo_data_path }}"
    - "{{ sftpgo_backups_path }}"
    - "{{ sftpgo_home_path }}"

- name: Ensure SFTPGo support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ sftpgo_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ sftpgo_uid }}"
    group: "{{ sftpgo_gid }}"
  with_items:
    - env
    - labels
  register: sftpgo_support_files_result

- name: Run if self-building of SFTPGo container image is not enabled
  when: "not sftpgo_container_image_self_build | bool"
  block:
    - name: Ensure SFTPGo container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ sftpgo_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ sftpgo_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else sftpgo_container_image_force_pull }}"
      register: sftpgo_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: sftpgo_container_image_pull_result is not failed

    - name: Ensure SFTPGo container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ sftpgo_container_image }}"
      register: sftpgo_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: sftpgo_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in sftpgo_container_image_pull_result.stdout"

- name: Run if self-building of SFTPGo container image is enabled
  when: "sftpgo_container_image_self_build | bool"
  block:
    - name: Ensure SFTPGo repository is present on self-build
      ansible.builtin.git:
        repo: "{{ sftpgo_container_image_self_build_repo }}"
        version: "{{ sftpgo_container_image_self_build_repo_version }}"
        dest: "{{ sftpgo_container_image_self_build_src_files_path }}"
        force: "yes"
      register: sftpgo_git_pull_results

    - name: Ensure SFTPGo container image is built
      community.docker.docker_image:
        name: "{{ sftpgo_container_image_self_build_name }}"
        source: build
        force_source: "{{ sftpgo_git_pull_results.changed if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else sftpgo_git_pull_results.changed }}"
        build:
          dockerfile: "{{ sftpgo_container_image_self_build_repo_dockerfile_dir }}/{{ sftpgo_container_image_self_build_repo_dockerfile }}"
          path: "{{ sftpgo_container_image_self_build_src_files_path }}"
          pull: true
          args:
      register: sftpgo_container_image_build_result

- name: Ensure SFTPGo container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ sftpgo_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"

- name: Ensure SFTPGo container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ sftpgo_container_network }}
  register: network_creation_result
  changed_when: network_creation_result.rc == 0
  failed_when: network_creation_result.rc != 0 and 'already exists' not in network_creation_result.stderr

- name: Ensure SFTPGo systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/sftpgo.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ sftpgo_identifier }}.service"
    mode: "0644"
  register: sftpgo_systemd_service_result

- name: Determine whether SFTPGo needs a restart
  ansible.builtin.set_fact:
    sftpgo_restart_necessary: >-
      {{
        sftpgo_support_files_result.changed | default(false)
        or sftpgo_systemd_service_result.changed | default(false)
        or sftpgo_container_image_pull_result.changed | default(false)
        or sftpgo_container_image_build_result.changed | default(false)
      }}
