{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=SFTPGo ({{ sftpgo_identifier }})
{% for service in sftpgo_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in sftpgo_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ sftpgo_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ sftpgo_identifier }} 2>/dev/null || true'

{#
  See https://docs.sftpgo.com/latest/docker/#where-to-store-data for details about how mounted directories are handled.
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ sftpgo_identifier }} \
      --log-driver=none \
      --user={{ sftpgo_uid }}:{{ sftpgo_gid }} \
      --cap-drop=ALL \
      --network={{ sftpgo_container_network }} \
      {% if sftpgo_container_http_host_bind_port %}
      -p {{ sftpgo_container_http_host_bind_port }}:{{ sftpgo_container_http_port }} \
      {% endif %}
      {% if sftpgo_container_sftp_host_bind_port %}
      -p {{ sftpgo_container_sftp_host_bind_port }}:{{ sftpgo_container_sftp_port }} \
      {% endif %}
      --env-file={{ sftpgo_base_path }}/env \
      --label-file={{ sftpgo_base_path }}/labels \
      --mount type=bind,src={{ sftpgo_data_path }},dst=/srv/sftpgo/data \
      --mount type=bind,src={{ sftpgo_backups_path }},dst=/srv/sftpgo/backups \
      --mount type=bind,src={{ sftpgo_home_path }},dst=/var/lib/sftpgo \
      {% for volume in sftpgo_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in sftpgo_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ sftpgo_container_image_self_build_name if sftpgo_container_image_self_build else sftpgo_container_image }}

{% for network in sftpgo_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ sftpgo_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ sftpgo_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ sftpgo_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ sftpgo_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ sftpgo_identifier }}

[Install]
WantedBy=multi-user.target
