{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if sftpgo_container_labels_traefik_enabled %}
traefik.enable=true

{% if sftpgo_container_labels_traefik_docker_network %}
traefik.docker.network={{ sftpgo_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if sftpgo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sftpgo_identifier }}-slashless-redirect.redirectregex.regex=^({{ sftpgo_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ sftpgo_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [sftpgo_identifier + '-slashless-redirect'] %}
{% endif %}

{% if sftpgo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sftpgo_identifier }}-strip-prefix.stripprefix.prefixes={{ sftpgo_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [sftpgo_identifier + '-strip-prefix'] %}
{% endif %}

{% if sftpgo_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in sftpgo_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ sftpgo_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [sftpgo_identifier + '-add-request-headers'] %}
{% endif %}

{% if sftpgo_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in sftpgo_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ sftpgo_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [sftpgo_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ sftpgo_identifier }}.rule={{ sftpgo_container_labels_traefik_rule }}
{% if sftpgo_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}.priority={{ sftpgo_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ sftpgo_identifier }}.service={{ sftpgo_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ sftpgo_identifier }}.entrypoints={{ sftpgo_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ sftpgo_identifier }}.tls={{ sftpgo_container_labels_traefik_tls | to_json }}
{% if sftpgo_container_labels_traefik_tls %}
traefik.http.routers.{{ sftpgo_identifier }}.tls.certResolver={{ sftpgo_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ sftpgo_identifier }}.loadbalancer.server.port={{ sftpgo_container_http_port }}

{% if sftpgo_container_labels_traefik_metrics_enabled %}
########################################################################
#                                                                      #
# Metrics                                                              #
#                                                                      #
########################################################################

{% set middlewares = sftpgo_container_labels_traefik_metrics_middlewares %}

{% if sftpgo_container_labels_traefik_metrics_middleware_basic_auth_enabled %}
traefik.http.middlewares.{{ sftpgo_identifier }}-metrics-basic-auth.basicauth.users={{ sftpgo_container_labels_traefik_metrics_middleware_basic_auth_users }}
{% set middlewares = middlewares + [sftpgo_identifier + '-metrics-basic-auth'] %}
{% endif %}

traefik.http.middlewares.{{ sftpgo_identifier }}-metrics-replace-path.replacepath.path=/metrics
{% set middlewares = middlewares + [sftpgo_identifier + '-metrics-replace-path'] %}

traefik.http.routers.{{ sftpgo_identifier }}-metrics.rule={{ sftpgo_container_labels_traefik_metrics_rule }}

{% if sftpgo_container_labels_traefik_metrics_priority | int > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}-metrics.priority={{ sftpgo_container_labels_traefik_metrics_priority }}
{% endif %}

traefik.http.routers.{{ sftpgo_identifier }}-metrics.service={{ sftpgo_identifier }}-metrics

{% if middlewares | length > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}-metrics.middlewares={{ middlewares | join(',') }}
{% endif %}

traefik.http.routers.{{ sftpgo_identifier }}-metrics.entrypoints={{ sftpgo_container_labels_traefik_metrics_entrypoints }}

traefik.http.routers.{{ sftpgo_identifier }}-metrics.tls={{ sftpgo_container_labels_traefik_metrics_tls | to_json }}
{% if sftpgo_container_labels_traefik_metrics_tls %}
traefik.http.routers.{{ sftpgo_identifier }}-metrics.tls.certResolver={{ sftpgo_container_labels_traefik_metrics_tls_certResolver }}
{% endif %}

traefik.http.services.{{ sftpgo_identifier }}-metrics.loadbalancer.server.port={{ sftpgo_container_metrics_port }}

########################################################################
#                                                                      #
# /Metrics                                                             #
#                                                                      #
########################################################################
{% endif %}

{% endif %}

{% if sftpgo_container_labels_traefik_sftp_enabled %}

traefik.tcp.routers.{{ sftpgo_identifier }}-sftp.rule={{ sftpgo_container_labels_traefik_sftp_rule }}
{% if sftpgo_container_labels_traefik_sftp_priority | int > 0 %}
traefik.tcp.routers.{{ sftpgo_identifier }}-sftp.priority={{ sftpgo_container_labels_traefik_sftp_priority }}
{% endif %}
traefik.tcp.routers.{{ sftpgo_identifier }}-sftp.service={{ sftpgo_identifier }}-sftp
traefik.tcp.routers.{{ sftpgo_identifier }}-sftp.entrypoints={{ sftpgo_container_labels_traefik_sftp_entrypoints }}

traefik.tcp.services.{{ sftpgo_identifier }}-sftp.loadbalancer.server.port={{ sftpgo_container_sftp_port }}
{% endif %}

{% if sftpgo_container_labels_traefik_webdav_enabled %}

traefik.http.routers.{{ sftpgo_identifier }}-webdav.rule={{ sftpgo_container_labels_traefik_webdav_rule }}
{% if sftpgo_container_labels_traefik_webdav_priority | int > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}-webdav.priority={{ sftpgo_container_labels_traefik_webdav_priority }}
{% endif %}
traefik.http.routers.{{ sftpgo_identifier }}-webdav.service={{ sftpgo_identifier }}-webdav
traefik.http.routers.{{ sftpgo_identifier }}-webdav.entrypoints={{ sftpgo_container_labels_traefik_webdav_entrypoints }}
traefik.http.routers.{{ sftpgo_identifier }}-webdav.tls={{ sftpgo_container_labels_traefik_webdav_tls | to_json }}
{% if sftpgo_container_labels_traefik_webdav_tls %}
traefik.http.routers.{{ sftpgo_identifier }}-webdav.tls.certResolver={{ sftpgo_container_labels_traefik_webdav_tls_certResolver }}
{% endif %}

traefik.http.services.{{ sftpgo_identifier }}-webdav.loadbalancer.server.port={{ sftpgo_container_webdav_port }}
{% endif %}

{% for arg in sftpgo_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
