{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if sftpgo_container_labels_traefik_enabled %}
traefik.enable=true

{% if sftpgo_container_labels_traefik_docker_network %}
traefik.docker.network={{ sftpgo_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if sftpgo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sftpgo_identifier }}-slashless-redirect.redirectregex.regex=({{ sftpgo_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ sftpgo_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [sftpgo_identifier + '-slashless-redirect'] %}
{% endif %}

{% if sftpgo_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ sftpgo_identifier }}-strip-prefix.stripprefix.prefixes={{ sftpgo_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [sftpgo_identifier + '-strip-prefix'] %}
{% endif %}

{% if sftpgo_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in sftpgo_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ sftpgo_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [sftpgo_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ sftpgo_identifier }}.rule={{ sftpgo_container_labels_traefik_rule }}
{% if sftpgo_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}.priority={{ sftpgo_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ sftpgo_identifier }}.service={{ sftpgo_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ sftpgo_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ sftpgo_identifier }}.entrypoints={{ sftpgo_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ sftpgo_identifier }}.tls={{ sftpgo_container_labels_traefik_tls | to_json }}
{% if sftpgo_container_labels_traefik_tls %}
traefik.http.routers.{{ sftpgo_identifier }}.tls.certResolver={{ sftpgo_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ sftpgo_identifier }}.loadbalancer.server.port={{ sftpgo_container_http_port }}
{% endif %}

{{ sftpgo_container_labels_additional_labels }}
